# -------------------------
# Python
# -------------------------
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.venv/
venv/
.env
.env.*

# -------------------------
# Node
# -------------------------
node_modules/
dist/
build/

# -------------------------
# Terraform
# -------------------------
.terraform/
*.tfstate
*.tfstate.*
terraform.tfvars
crash.log

# -------------------------
# Docker
# -------------------------
*.tar

# -------------------------
# IDE
# -------------------------
.vscode/
.idea/

# -------------------------
# macOS
# -------------------------
.DS_Store
Thumbs.db

# -------------------------
# Logs
# -------------------------
*.log

# -------------------------
# Coverage
# -------------------------
coverage/
htmlcov/